{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESPRESSO</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'output' %}"><img src="{% static 'image/logo.png' %}"></a>
        </div>
    </header>

    <main>
        <div class="buttons">
            <button id="button1" class="active" onclick="showContent('content1')">마케팅 전략</button>
            <button id="button2" onclick="showContent('content2')">로고 및 문구</button>
            <button id="button3" onclick="showContent('content3')">SNS 컨텐츠</button>
        </div>

        <div class="contentBox">
            <div class="contentText">
                <div id="content1" class="content-section">
                    <!-- Django에서 받은 마케팅 전략 -->
                    <pre class="text-content">
                        {{plan_txt}}
                    </pre>
                </div>
                
                <div id="content2" class="content-section" style="display: none;">
                    <!-- Django에서 받은 로고 및 문구 -->
                    <div class="image-content">
                        <img src="{% static 'image/IDEA.png' %}">
                    </div>
                    <pre class="text-content">
                        {{design_txt}}
                    </pre>
                </div>
                
                <div id="content3" class="content-section" style="display: none;">
                    <!-- Django에서 받은 SNS 컨텐츠 -->
                    <div class="image-content">
                        <img src="{% static 'image/SNS.png' %}">
                    </div>
                    <pre class="text-content">
                        {{ad_txt}}
                    </pre>
                </div>                
            </div>
        </div>
    </main>
        

    <script>

        /* button 기능 구현 */
        // 1. 클릭한 버튼 외 콘텐츠 숨기기 
        function showContent(contentId) {
        const contentSections = document.getElementsByClassName("content-section");
        for (let i = 0; i < contentSections.length; i++) {
            contentSections[i].style.display = "none";
        }

        // 2. 선택 상태 해제되면 버튼 스타일 초기화
        const buttons = document.getElementsByTagName("button");
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("active");
            buttons[i].style.backgroundColor = "#945F4F";
        }

        // 3. 선택 상태 설정되면 버튼 스타일 지정 및 콘텐츠 보여 주기
        const selectedContent = document.getElementById(contentId);
        selectedContent.style.display = "block";

        const selectedButton = document.getElementById(`button${contentId.slice(-1)}`);
        selectedButton.classList.add("active");
        selectedButton.style.backgroundColor = "#512615";
        }

        const initialContentId = "content1";
        showContent(initialContentId);
    </script>
</body>